<!-- Footer-->
<footer class="py-5 bg-dark" style="background-color: red !important;">
    <div class="container">
        <p class="m-0 text-center text-white">Bản quyền &copy; 2024-2025 <a href="~/">Huỳnh Quốc Anh</a> </p>
        </div>
</footer>